<%- include("../partials/header")%>

<main>

  <ul>
  <% for (let cluck of clucks) { %>
    <li>
      <div class="cluck">
        <div class="img">
          <img src= "/img/avatar.jpg" alt="avatar_image" height="90" witdth="90">
        </div>
        <div class="main_content">
          <span class="index_username"><%= username %></span>
          <span class="index_timestamp"><%= cluck.createdAt %></span><br>
          <span class="index_content"><%= cluck.content %></span> <br>
          <img src= "<%=cluck.image_url%>" alt="avatar_image" height="200" witdth="400">
        </div>
      </div>
    </li>
  <% } %>
  <ul>
</main>

<%- include("../partials/footer")%>